1) Create regression model using different regression algorithms (mpg is target )<br>2) Print accuracy score of each.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [52]:
df = pd.read_csv('auto_mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [53]:
df[df['horsepower']=='?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [71]:
df['horsepower'] = df['horsepower'].str.replace('?',df['horsepower'].mode()[0]) # This will give accuracy rather than using below method

C:\Users\asus\AppData\Local\Temp\ipykernel_20260\1507894020.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['horsepower'] = df['horsepower'].str.replace('?',df['horsepower'].mode()[0]) # This will give accuracy rather than using below method

In [55]:
# # df.drop(df['horsepower']=='?', axis=0 , inplace=True)
# df.drop([32,126,330,336,354,374], axis=0 , inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [57]:
df['horsepower'].astype(int)

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: int32

In [58]:
df.shape

(398, 9)

In [59]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [60]:
df['origin'].unique()

array([1, 3, 2], dtype=int64)

In [61]:
df['car name'].unique().shape

(305,)

In [62]:
df.drop('car name',axis=1, inplace=True)

In [63]:
X =  df.drop('mpg', axis=1)
y = df.mpg

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , train_size=0.30, random_state=777)

# LinearRegression()

In [65]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [66]:
model.score(X_test,y_test)

0.8142328508472969

# Decision Tree

In [67]:
from sklearn.tree import DecisionTreeRegressor
model1 = DecisionTreeRegressor()
model1.fit(X_train,y_train)

DecisionTreeRegressor()

In [68]:
model1.score(X_test,y_test)

0.7840157019973559

# SVR

In [69]:
from sklearn.svm import SVR
model2 = SVR(kernel='linear')
model2.fit(X_train,y_train)

SVR(kernel='linear')

In [70]:
model2.score(X_test,y_test)

0.7305591214721783